<!DOCTYPE html>
<html>

    <head>
        {% include "layouts/head.html" %}

        <title>{{ page.locale.strings().site.name }}</title>

        {% block head %}{% endblock %}
    </head>

    <body class="clr-primary">
        <div id="wrapper">
            {% include "layouts/header.html" %}
            <main>
                <div id="wrapper-content">
                    {% block content %}{% endblock %}
                </div>
            </main>
            {% include "layouts/footer.html" %}
        </div>
    </body>

</html>