<footer class="clr-primary-bg-alt">
    <nav id="nav-footer">
        <div id="nav-footer-info">
            {{ page.locale.strings().site.nav.footer.creator_message }}
            — {{ page.locale.strings().site.nav.footer.build_info }}: <a href="{{ site_info.repository }}/tree/{{ site_info.git_sha }}">v{{ site_info.build_semver }}-{{ site_info.git_sha_short }}</a> ({{ site_info.build_date }})
        </div>
        <div id="nav-footer-buttons">
            <ul class="nav-buttons">
                <li class="{{ page.class_nav_button_for("/guidelines") }}">
                    <a href="/guidelines">{{ page.locale.strings().site.nav.footer.guidelines }}</a>
                </li>
                <li class="{{ page.class_nav_button_for("/faq") }}">
                    <a href="/faq">{{ page.locale.strings().site.nav.footer.faq }}</a>
                </li>
                <li class="{{ page.class_nav_button_for("/api") }}">
                    <a href="/api}">{{ page.locale.strings().site.nav.footer.api }}</a>
                </li>
                <li class="{{ page.class_nav_button_for("/security") }}">
                    <a href="/security">{{ page.locale.strings().site.nav.footer.security }}</a>
                </li>
                <li class="{{ page.class_nav_button_for("/legal") }}">
                    <a href="{{ site_info.repository }}/blob/main/LEGAL.md">{{ page.locale.strings().site.nav.footer.legal }}</a>
                </li>
                <li>
                    <a href="mailto:pn@plabayo.tech">{{ page.locale.strings().site.nav.footer.contact }}</a>
                </li>
            </ul>
        </div>
        <div id="nav-footer-search">
            <form method="get" action="/search">
                <label for="search">{{ page.locale.strings().site.nav.footer.search }}:</label>
                <input id="search" type="text" name="q" value="" size="17" autocorrect="off" spellcheck="false" autocapitalize="off" autocomplete="false"/>
                {% for (key, value) in page.params_for("/search", "q") %}
                <input id="hidden_{{ key }}" type="hidden" name="{{ key }}" value="{{ value }}"/>
                {% endfor %}
            </form>
        </div>
    </nav>
</footer>