<header class="clr-secondary">
    <nav id="site-nav-main">
        <h1 class="nav-title">
            <a href="/{{ i18n.site.page_query_for("/news", "") }}">{{ i18n.site.name }}</a>
        </h1>
        <ul class="nav-buttons">
            <li>
                <a href="/news{{ i18n.site.page_query_for("/news", "") }}">{{ i18n.site.nav.header.news }}</a>
            </li>
            <li>
                <a href="/past{{ i18n.site.page_query_for("/past", "") }}">{{ i18n.site.nav.header.past }}</a>
            </li>
            <li>
                <a href="/comments{{ i18n.site.page_query_for("/comments", "") }}">{{ i18n.site.nav.header.comments }}</a>
            </li>
            <li>
                <a href="/ask{{ i18n.site.page_query_for("/ask", "") }}">{{ i18n.site.nav.header.ask }}</a>
            </li>
            <li>
                <a href="/show{{ i18n.site.page_query_for("/show", "") }}">{{ i18n.site.nav.header.show }}</a>
            </li>
            <li>
                <a href="/event{{ i18n.site.page_query_for("/events", "") }}">{{ i18n.site.nav.header.events }}</a>
            </li>
            <li>
                <a href="/submit{{ i18n.site.page_query_for("/submit", "") }}">{{ i18n.site.nav.header.submit }}</a>
            </li>
        </ul>
    </nav>
    <nav id="site-nav-user">
        <ul class="nav-buttons">
            <li>
                <a href="/login{{ i18n.site.page_query_for("/login", "") }}">{{ i18n.site.nav.header.login }}</a>
            </li>
            <!-- TODO: enable again once we figure out how to use and style it
            <li>
                <form method="get" action="{{ i18n.site.path }}" id="site_header_locale_form">
                    <label for="locale">{{ i18n.site.nav.header.locale }}:</label>
                    <select name="loc" id="locale" form="site_header_locale_form">
                    {% for (locale, locale_info) in i18n.site.locales %}
                        {% if locale_info.active %}
                        <option value="{{ locale }}" selected="selected">{{ locale_info.name }}</option>
                        {% else %}
                        <option value="{{ locale }}">{{ locale_info.name }}</option>
                        {% endif %}
                    {% endfor %}
                    </select>
                    {% for (key, value) in i18n.site.params_current("loc") %}
                    <input id="hidden_{{ key }}" type="hidden" name="{{ key }}" value="{{ value }}"/>
                    {% endfor %}
                    <input type="submit" value="{{ i18n.site.nav.header.select }}" class="select" />
                </form>
            </li>
            -->
        </ul>
    </nav>
</header>