<footer>
    <nav>
        <ul>
            <li>
                <a href="/{{ i18n.site.locale }}/guidelines">{{ i18n.site.nav.footer.guidelines }}</a>
            </li>
            <li>
                <a href="/{{ i18n.site.locale }}/faq">{{ i18n.site.nav.footer.faq }}</a>
            </li>
            <li>
                <a href="/{{ i18n.site.locale }}/api">{{ i18n.site.nav.footer.api }}</a>
            </li>
            <li>
                <a href="/{{ i18n.site.locale }}/security">{{ i18n.site.nav.footer.security }}</a>
            </li>
            <li>
                <a href="{{ i18n.site.repository }}/blob/main/LEGAL.md">{{ i18n.site.nav.footer.legal }}</a>
            </li>
            <li>
                <a href="mailto:pn@plabayo.tech">{{ i18n.site.nav.footer.contact }}</a>
            </li>
        </ul>
        <div>
            <div>
                <form method="get" action="/{{ i18n.site.locale }}/search">
                    <label for="search">{{ i18n.site.nav.footer.search }}:</label>
                    <input id="search" type="text" name="q" value="" size="17" autocorrect="off" spellcheck="false" autocapitalize="off" autocomplete="false"/>
                </form>
            </div>
            <div>
                {{ i18n.site.nav.footer.build_info }}: <a href="https://github.com/plabayo/news/tree/{{ site_info.git_sha }}">{{ site_info.git_sha_short }}</a> ({{ site_info.build_date }})
            </div>
        </div>
    </nav>
</footer>