<header>
    <a href="/?locale={{ i18n.site.locale }}"><h1>{{ i18n.site.name }}</h1></a>
    <nav>
        <ul>
            <li>
                <a href="/news?locale={{ i18n.site.locale }}">{{ i18n.site.nav.header.news }}</a>
            </li>
            <li>
                <a href="/past?locale={{ i18n.site.locale }}">{{ i18n.site.nav.header.past }}</a>
            </li>
            <li>
                <a href="/comments?locale={{ i18n.site.locale }}">{{ i18n.site.nav.header.comments }}</a>
            </li>
            <li>
                <a href="/ask?locale={{ i18n.site.locale }}">{{ i18n.site.nav.header.ask }}</a>
            </li>
            <li>
                <a href="/show?locale={{ i18n.site.locale }}">{{ i18n.site.nav.header.show }}</a>
            </li>
            <li>
                <a href="/event?locale={{ i18n.site.locale }}s">{{ i18n.site.nav.header.events }}</a>
            </li>
            <li>
                <a href="/submit?locale={{ i18n.site.locale }}">{{ i18n.site.nav.header.submit }}</a>
            </li>
        </ul>
        <aside>
            <ul>
                <li>
                    <a href="/login?locale={{ i18n.site.locale }}">{{ i18n.site.nav.header.login }}</a>
                </li>
                <li>
                    <form method="get" action="{{ i18n.site.path }}" id="site_header_locale_form">
                        <!-- TODO: also pop. other query parameters -->
                        <label for="locale">{{ i18n.site.nav.header.locale }}:</label>
                        <select name="locale" id="locale" form="site_header_locale_form">
                        {% for (key, value) in i18n.site.locales %}
                            {% if key.as_str() == i18n.site.locale %}
                            <option value="{{ key }}" selected="selected">{{ value }}</option>
                            {% else %}
                            <option value="{{ key }}">{{ value }}</option>
                            {% endif %}
                        {% endfor %}
                        </select>
                        <input type="submit" value="{{ i18n.site.nav.header.select }}" class="select" />
                    </form>
                </li>
            </ul>
        </aside>
    </nav>
</header>