<footer>
    <nav>
        <ul>
            <li>
                <a href="/guidelines">Guidelines</a>
            </li>
            <li>
                <a href="/faq">FAQ</a>
            </li>
            <li>
                <a href="/lists">lists</a>
            </li>
            <li>
                <a href="/api">API</a>
            </li>
            <li>
                <a href="/security">Security</a>
            </li>
            <li>
                <a href="/legal">Legal</a>
            </li>
            <li>
                <a href="mailto:pn@plabayo.tech">Contact</a>
            </li>
        </ul>
        <aside>
            <form method="get" action="/search">
                <label for="search">Search:</label>
                <input id="search" type="text" name="q" value="" size="17" autocorrect="off" spellcheck="false" autocapitalize="off" autocomplete="false"/>
            </form>
        </aside>
    </nav>
</footer>