<header>
    <a href="/{{ i18n.site.locale }}"><h1>{{ i18n.site.name }}</h1></a>
    <nav>
        <ul>
            <li>
                <a href="/{{ i18n.site.locale }}/news">{{ i18n.site.nav.header.news }}</a>
            </li>
            <li>
                <a href="/{{ i18n.site.locale }}/past">{{ i18n.site.nav.header.past }}</a>
            </li>
            <li>
                <a href="/{{ i18n.site.locale }}/comments">{{ i18n.site.nav.header.comments }}</a>
            </li>
            <li>
                <a href="/{{ i18n.site.locale }}/ask">{{ i18n.site.nav.header.ask }}</a>
            </li>
            <li>
                <a href="/{{ i18n.site.locale }}/show">{{ i18n.site.nav.header.show }}</a>
            </li>
            <li>
                <a href="/{{ i18n.site.locale }}/events">{{ i18n.site.nav.header.events }}</a>
            </li>
            <li>
                <a href="/{{ i18n.site.locale }}/submit">{{ i18n.site.nav.header.submit }}</a>
            </li>
        </ul>
        <aside>
            <ul>
                <li>
                    <a href="/{{ i18n.site.locale }}/login">{{ i18n.site.nav.header.login }}</a>
                </li>
            </ul>
        </aside>
    </nav>
</header>