<header>
    <a href="/"><h1>{{ i18n.site.name }}</h1></a>
    <nav>
        <ul>
            <li>
                <a href="/news">{{ i18n.site.nav.header.news }}</a>
            </li>
            <li>
                <a href="/past">{{ i18n.site.nav.header.past }}</a>
            </li>
            <li>
                <a href="/comments">{{ i18n.site.nav.header.comments }}</a>
            </li>
            <li>
                <a href="/ask">{{ i18n.site.nav.header.ask }}</a>
            </li>
            <li>
                <a href="/show">{{ i18n.site.nav.header.show }}</a>
            </li>
            <li>
                <a href="/events">{{ i18n.site.nav.header.events }}</a>
            </li>
            <li>
                <a href="/submit">{{ i18n.site.nav.header.submit }}</a>
            </li>
        </ul>
        <aside>
            <ul>
                <li>
                    <a href="/login">{{ i18n.site.nav.header.login }}</a>
                </li>
            </ul>
        </aside>
    </nav>
</header>