body {
    color: #222;
    background: #fff;
    font: 100% system-ui;
}

a {
    color: #0033cc;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

#wrapper {
    display: grid;
    gap: 20px;
    grid-template-areas:
        "header"
        "content"
        "footer";
}

header {
    grid-area: header;
}

main {
    grid-area: content;
}

footer {
    grid-area: footer;
}

/* @media (min-width: 500px) {
}

@media (prefers-color-scheme: dark) {
    body {
        color: #eee;
        background: #121212;
    }

    body a {
        color: #809fff;
    }
} */
