{% extends "layouts/base.html" %}

{% block content %}
<div class="posts">
    {% include "layouts/post_summary.html" %}
    {% include "layouts/post_summary.html" %}
    {% include "layouts/post_summary.html" %}
    {% include "layouts/post_summary.html" %}
    {% include "layouts/post_summary.html" %}
    {% include "layouts/post_summary.html" %}
    {% include "layouts/post_summary.html" %}
    {% include "layouts/post_summary.html" %}
    {% include "layouts/post_summary.html" %}
    {% include "layouts/post_summary.html" %}
    {% include "layouts/post_summary.html" %}
    {% include "layouts/post_summary.html" %}
    {% include "layouts/post_summary.html" %}
    {% include "layouts/post_summary.html" %}
    {% include "layouts/post_summary.html" %}
    {% include "layouts/post_summary.html" %}
    {% include "layouts/post_summary.html" %}
    {% include "layouts/post_summary.html" %}
    {% include "layouts/post_summary.html" %}
    {% include "layouts/post_summary.html" %}
    {% include "layouts/post_summary.html" %}
    {% include "layouts/post_summary.html" %}
    {% include "layouts/post_summary.html" %}
    {% include "layouts/post_summary.html" %}
    {% include "layouts/post_summary.html" %}
    {% include "layouts/post_summary.html" %}
    {% include "layouts/post_summary.html" %}
    {% include "layouts/post_summary.html" %}
    {% include "layouts/post_summary.html" %}
    {% include "layouts/post_summary.html" %}
    {% include "layouts/post_summary.html" %}
</div>
<nav class="posts-more">
    <a href="#">More</a>
</nav>
{% endblock %}
